# Токен Telegram-бота (получить у @BotFather)
TELEGRAM_BOT_TOKEN=8105418718:AAFRMD0iGArAM2RFdo0u9gHwtH2ecu8GEHg

# Telegram ID администратора (число)
ADMIN_ID=5030561581

# Опциональный HTTP/HTTPS прокси для aiogram
# PROXY_URL=http://user:pass@host:port
